/* SIDEBAR FULL HEIGHT */
.sidebar{
display:flex;
flex-direction:column;
height:100%;
}

/* TREND */
.sidebar-card{
background:#181818;
padding:12px;
border-radius:12px;
height:360px;
display:flex;
flex-direction:column;
overflow:hidden;
margin-bottom:15px;
}

#trending{overflow-y:auto;}

/* ADS CONTAINER */
.ads-container{
display:flex;
flex-direction:column;
flex:1;
gap:10px;
}

/* ADS AUTO HEIGHT BAGI 6 */
.ads{
flex:1;
background:#222;
border-radius:12px;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
font-size:14px;
color:#fff;
padding:10px;
}

/* BLINK */
.highlight{
animation:blink 1.5s infinite;
font-weight:600;
}

@keyframes blink{
0%{opacity:1;}
50%{opacity:0.5;}
100%{opacity:1;}
}
