body{
background:#0f0f0f;
color:white;
font-family:Roboto;
margin:0;
}

.header{
padding:15px;
border-bottom:1px solid #222;
}

.container{
padding:20px;
max-width:1400px;
margin:auto;
}

.hero iframe{
width:100%;
height:450px;
border-radius:10px;
margin-bottom:20px;
}

/* GRID VIDEO */
.grid{
display:grid;
grid-template-columns:repeat(5,1fr);
gap:15px;
}

.card{
cursor:pointer;
transition:0.3s;
}

.card img{
width:100%;
border-radius:8px;
}

.card:hover{
transform:scale(1.05);
}

/* SCROLL ROW (SHORTS & LIVE) */
.scroll-row{
display:flex;
gap:10px;
overflow-x:auto;
padding-bottom:10px;
}

.scroll-row .card{
min-width:180px;
}

.scroll-row img{
height:300px;
object-fit:cover;
}
